<div class="page alarm_page" data-page="alarms.select">
    <div class="navbar bg-boatwatch bw_top_shadow ">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="link back "> <i class="icon icon-header-arrow-back"></i></a>
            </div>
            <div class="left navbar_title navbar_title_index">{{@global.LANGUAGE.ALARM_MSG06}}</div>
            <div class="right">

                <a href="#" class="link saveAlarm"><i class="icon icon-header-apply"></i></a>
            </div>
        </div>
    </div>

    <div class="page-content">
        <input type="hidden" name="Assets" value="{{Assets}}">


        <div class="list-block no-hairlines alarm_list">
            <ul>
                <li class="item-divider alarm-radio-caption"><span class="color-gray">{{@global.LANGUAGE.COM_MSG39}}</span><span class="color-green ">{{@global.LANGUAGE.COM_MSG40}}</span></li>
                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title">{{@global.LANGUAGE.ALARM_MSG05}}</div>
                        <div class="item-after">
                            <div class="list-block list-block-radio">
                                <ul class="row no-gutter">
                                    <li class="col-50 color-gray">
                                        <label class="label-radio item-content ">							        
									        <input type="radio" name="radio-geolock" value="1048" {{#unless geolock}} checked="checked"{{/unless}}>
									        <div class="item-media">
									          	<i class="icon icon-form-radio"></i>
									        </div>							       
									    </label>
                                    </li>
                                    <li class="col-50 color-green">
                                        <label class="label-radio item-content ">
									        <input type="radio" name="radio-geolock" value="0"  {{#if geolock}}checked="checked"{{/if}}>
									        <div class="item-media">
									          	<i class="icon icon-form-radio"></i>
									        </div>							       
								      	</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>


                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title">{{@global.LANGUAGE.ALARM_MSG26}}</div>
                        <div class="item-after">
                            <div class="list-block list-block-radio">
                                <ul class="row no-gutter">
                                    <li class="col-50 color-gray">
                                        <label class="label-radio item-content ">	
									        <input type="radio" name="radio-harshAcc" value="33554432" {{#unless harshAcc}}checked="checked"{{/unless}}>
									        <div class="item-media">
									          	<i class="icon icon-form-radio"></i>
									        </div>							       
									    </label>
                                    </li>
                                    <li class="col-50 color-green">
                                        <label class="label-radio item-content ">
									        <input type="radio" name="radio-harshAcc" value="0"  {{#if harshAcc}}checked="checked"{{/if}}>
									        <div class="item-media">
									          	<i class="icon icon-form-radio"></i>
									        </div>							       
								      	</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title">{{@global.LANGUAGE.ALARM_MSG27}}</div>
                        <div class="item-after">
                            <div class="list-block list-block-radio">
                                <ul class="row no-gutter">
                                    <li class="col-50 color-gray">
                                        <label class="label-radio item-content ">	
									        <input type="radio" name="radio-harshBrk" value="2097152" {{#unless harshBrk}}checked="checked"{{/unless}}>
									        <div class="item-media">
									          	<i class="icon icon-form-radio"></i>
									        </div>							       
									    </label>
                                    </li>
                                    <li class="col-50 color-green">
                                        <label class="label-radio item-content ">
									        <input type="radio" name="radio-harshBrk" value="0"  {{#if harshBrk}}checked="checked"{{/if}}>
									        <div class="item-media">
									          	<i class="icon icon-form-radio"></i>
									        </div>							       
								      	</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title">{{@global.LANGUAGE.ALARM_MSG10}}</div>
                        <div class="item-after">
                            <div class="list-block list-block-radio">
                                <ul class="row no-gutter">
                                    <li class="col-50 color-gray">
                                        <label class="label-radio item-content ">							        
									        <input type="radio" name="radio-accOff" value="65536" {{#unless accOff}} checked="checked"{{/unless}}>
									        <div class="item-media">
									          	<i class="icon icon-form-radio"></i>
									        </div>							       
									    </label>
                                    </li>
                                    <li class="col-50 color-green">
                                        <label class="label-radio item-content ">
									        <input type="radio" name="radio-accOff" value="0"  {{#if accOff}}checked="checked"{{/if}}>
									        <div class="item-media">
									          	<i class="icon icon-form-radio"></i>
									        </div>							       
								      	</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title">{{@global.LANGUAGE.ALARM_MSG11}}</div>
                        <div class="item-after">
                            <div class="list-block list-block-radio">
                                <ul class="row no-gutter">
                                    <li class="col-50 color-gray">
                                        <label class="label-radio item-content ">							        
									        <input type="radio" name="radio-accOn" value="32768" {{#unless accOn}} checked="checked"{{/unless}}>
									        <div class="item-media">
									          	<i class="icon icon-form-radio"></i>
									        </div>							       
									    </label>
                                    </li>
                                    <li class="col-50 color-green">
                                        <label class="label-radio item-content ">
									        <input type="radio" name="radio-accOn" value="0"  {{#if accOn}}checked="checked"{{/if}}>
									        <div class="item-media">
									          	<i class="icon icon-form-radio"></i>
									        </div>							       
								      	</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>


                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title">{{@global.LANGUAGE.ALARM_MSG17}}</div>
                        <div class="item-after">
                            <div class="list-block list-block-radio">
                                <ul class="row no-gutter">
                                    <li class="col-50 color-gray">
                                        <label class="label-radio item-content ">							        
									        <input type="radio" name="radio-lowBattery" value="512" {{#unless lowBattery}} checked="checked"{{/unless}}>
									        <div class="item-media">
									          	<i class="icon icon-form-radio"></i>
									        </div>							       
									    </label>
                                    </li>
                                    <li class="col-50 color-green">
                                        <label class="label-radio item-content ">
									        <input type="radio" name="radio-lowBattery" value="0"  {{#if lowBattery}}checked="checked"{{/if}}>
									        <div class="item-media">
									          	<i class="icon icon-form-radio"></i>
									        </div>							       
								      	</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title">{{@global.LANGUAGE.ALARM_MSG28}}</div>
                        <div class="item-after">
                            <div class="list-block list-block-radio">
                                <ul class="row no-gutter">
                                    <li class="col-50 color-gray">
                                        <label class="label-radio item-content ">							        
									        <input type="radio" name="radio-mainBatteryFail" value="4" {{#unless mainBatteryFail}} checked="checked"{{/unless}}>
									        <div class="item-media">
									          	<i class="icon icon-form-radio"></i>
									        </div>							       
									    </label>
                                    </li>
                                    <li class="col-50 color-green">
                                        <label class="label-radio item-content ">
									        <input type="radio" name="radio-mainBatteryFail" value="0"  {{#if mainBatteryFail}}checked="checked"{{/if}}>
									        <div class="item-media">
									          	<i class="icon icon-form-radio"></i>
									        </div>							       
								      	</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>




                <!-- <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title">{{@global.LANGUAGE.ALARM_MSG02}}</div>
                        <div class="item-after">
                            <div class="list-block list-block-radio">
                                <ul class="row no-gutter">
                                    <li class="col-50 color-gray">
                                        <label class="label-radio item-content ">							        
									        <input type="radio" name="radio-bilge" value="131072" {{#unless bilge}} checked="checked"{{/unless}}>
									        <div class="item-media">
									          	<i class="icon icon-form-radio"></i>
									        </div>							       
									    </label>
                                    </li>
                                    <li class="col-50 color-green">
                                        <label class="label-radio item-content ">
									        <input type="radio" name="radio-bilge" value="0"  {{#if bilge}}checked="checked"{{/if}}>
									        <div class="item-media">
									          	<i class="icon icon-form-radio"></i>
									        </div>							       
								      	</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li> -->



                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title">{{@global.LANGUAGE.ALARM_MSG29}}</div>
                        <div class="item-after">
                            <div class="list-block list-block-radio">
                                <ul class="row no-gutter">
                                    <li class="col-50 color-gray">
                                        <label class="label-radio item-content ">							        
									        <input type="radio" name="radio-speeding" value="32" {{#unless speeding}} checked="checked"{{/unless}}>
									        <div class="item-media">
									          	<i class="icon icon-form-radio"></i>
									        </div>							       
									    </label>
                                    </li>
                                    <li class="col-50 color-green">
                                        <label class="label-radio item-content ">
									        <input type="radio" name="radio-speeding" value="0"  {{#if speeding}}checked="checked"{{/if}}>
									        <div class="item-media">
									          	<i class="icon icon-form-radio"></i>
									        </div>							       
								      	</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>



                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title">{{@global.LANGUAGE.ALARM_MSG30}}</div>
                        <div class="item-after">
                            <div class="list-block list-block-radio">
                                <ul class="row no-gutter">
                                    <li class="col-50 color-gray">
                                        <label class="label-radio item-content ">							        
									        <input type="radio" name="radio-tilt" value="256" {{#unless tilt}} checked="checked"{{/unless}}>
									        <div class="item-media">
									          	<i class="icon icon-form-radio"></i>
									        </div>							       
									    </label>
                                    </li>
                                    <li class="col-50 color-green">
                                        <label class="label-radio item-content ">
									        <input type="radio" name="radio-tilt" value="0"  {{#if tilt}}checked="checked"{{/if}}>
									        <div class="item-media">
									          	<i class="icon icon-form-radio"></i>
									        </div>							       
								      	</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>




                <!--   <li class="item-content">	          
			        <div class="item-inner">
			            <div class="item-title">{{@global.LANGUAGE.ALARM_MSG25}}</div>
			            <div class="item-after">
			            	<div class="list-block list-block-radio">
								<ul class="row no-gutter">							    
								    <li class="col-50 color-gray">
									    <label class="label-radio item-content ">							        
									        <input type="radio" name="radio-input1Low" value="524288" {{#unless input1Low}} checked="checked"{{/unless}}>
									        <div class="item-media">
									          	<i class="icon icon-form-radio"></i>
									        </div>							       
									    </label>
								    </li>							   
								    <li class="col-50 color-green">
								      	<label class="label-radio item-content ">
									        <input type="radio" name="radio-input1Low" value="0"  {{#if input1Low}}checked="checked"{{/if}}>
									        <div class="item-media">
									          	<i class="icon icon-form-radio"></i>
									        </div>							       
								      	</label>
								    </li>							   
								</ul>
							</div>
			            </div>
			        </div>
		        </li> -->



                <!-- <li class="item-content">	          
			        <div class="item-inner">
			            <div class="item-title">{{@global.LANGUAGE.ALARM_MSG03}}</div>
			            <div class="item-after">
			            	<div class="list-block list-block-radio">
								<ul class="row no-gutter">							    
								    <li class="col-50 color-gray">
									    <label class="label-radio item-content ">							        
									        <input type="radio" name="radio-power" value="4" {{#unless power}} checked="checked"{{/unless}}>
									        <div class="item-media">
									          	<i class="icon icon-form-radio"></i>
									        </div>							       
									    </label>
								    </li>							   
								    <li class="col-50 color-green">
								      	<label class="label-radio item-content ">
									        <input type="radio" name="radio-power" value="0"  {{#if power}}checked="checked"{{/if}}>
									        <div class="item-media">
									          	<i class="icon icon-form-radio"></i>
									        </div>							       
								      	</label>
								    </li>							   
								</ul>
							</div>
			            </div>
			        </div>
		        </li>	         -->
            </ul>
        </div>

        <div class="content-block">
            <a href="tel:18446013500" target="_blank" class="external button button-fill button-big bg-boatwatch call-button">
                <i class="f7-icons icon-other-call"></i> {{@global.LANGUAGE.MENU_MSG11}}
            </a>
        </div>

    </div>
</div>